body {
    text-align: center;
}

.leaderboard {
    position: relative;
    width: 505px;
    margin: 0 auto;
}

.leaderboard:after {
	content: '';
	display: block;
	clear: both;
}

.score {
    position: relative;
    top: 35px;
    float: right;
    font-size: 28px;
    font-family: arial;
}